root = true

[*.cs]
dotnet_naming_rule.instance_fields_should_be_camel_case.severity = suggestion
dotnet_naming_rule.instance_fields_should_be_camel_case.symbols = instance_fields
dotnet_naming_rule.instance_fields_should_be_camel_case.style = instance_field_style

dotnet_naming_symbols.instance_fields.applicable_kinds = field
dotnet_naming_symbols.instance_fields.applicable_accessibilities = private, internal
dotnet_naming_symbols.instance_fields.required_modifiers = 

dotnet_naming_style.instance_field_style.capitalization = camel_case
dotnet_naming_style.instance_field_style.required_prefix = 
dotnet_naming_style.instance_field_style.required_suffix = 

# Allow omitting private modifier
dotnet_style_require_accessibility_modifiers = never:suggestion
dotnet_style_readonly_field = true:suggestion

dotnet_sort_system_directives_first = true
csharp_using_directive_placement = inside_namespace
csharp_using_directive_full_qualification = true

resharper_redundant_name_qualifier_highlighting = hint
resharper_check_namespace_highlighting=hint
resharper_unused_member_global_highlighting=hint

# set max line length to 240
max_line_length = 240

indent_style = space
indent_size = 4

