body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #333;
}

.canvas-container {
    padding: 1rem;
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
}

#canvas {
    object-fit: cover;
    background-color: #666;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    padding: 8px;
    flex-wrap: wrap;
}

.button {
    width: 150px;
    height: 50px;
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button:hover,
.button:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.button:active {
    opacity: .5;
}